# maven.sh
export JAVA_HOME=/usr/lib/jvm/adoptopenjdk-11-hotspot/
export M2_HOME=/opt/apache-maven-{{ maven_version }}
export MAVEN_HOME=/opt/apache-maven-{{ maven_version }}
export PATH=${M2_HOME}/bin:${PATH}
