#!/bin/bash

rm -rf {{ bench_files_target }}
rm -rf ~/benchmarks
dnf remove -y {{ bench_packages | join(' ') }}
pip3 uninstall -y {{ bench_pip_packages | join(' ') }}

rm -f ~/bench_run.sh
rm -- "$0" # auto destruction /o\
